@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body {
    background: #00ACEA  /* fallback fo@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');*/

}

#container{
    width: 100%;
    height: 100%;
}

.main-card-crud{
    /*Altura e largura do elemento*/
    width: 700px;
    height: 350px;
    position: absolute;
    /*Fazendo com que elemento de posicione ao centro da tela*/
    left: 50%;
    top: 50%;
    margin-left:-350px;
    margin-top:-175px;
    /*Estilização do background*/
    background: #F6F6F6;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
}

.main-card-crud .header-card-crud {
    width: 100%;
    height: 1.5rem;
    text-align: center;
    background: #ebeaea;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    margin-bottom: 1.2rem;
}

.header-card-crud h3{
    color: rgb(29, 29, 29);
}

.main-card-crud .body-card-crud{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.main-card-crud .body-card-crud .line button{
    padding: .5rem;
    border: none;
    color: white;
    background: #00ACEA;  /* fallback for old browsers */
    margin-bottom: 2rem;
}

.main-card-crud .body-card-crud .line button:hover{
    background: #0092c7;  /* fallback for old browsers */
    cursor: pointer;
}

.body-card-crud button{
    width: 200px;
}